@import '../GlobalVariablesStyles/styles.scss';
header{
    width: 100%;
    position: fixed;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2022;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text{
            width: 100%;
            max-width: 68.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                    &:not(:first-child){
                        margin-left: 2rem;
                    }
                }
            }
            .logo{
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 2.5rem;
                    line-height: 3rem;
                    margin-left: 2.1rem;
                }
            }
        }
        @media(max-width: 1050px){
            .text{
                margin-right: 4rem;
            }
        }
        @media(max-width: 700px){
            .text{
                ul{
                    display: none;
                }
            }
        }
        @media(max-width: 350px){
            .text{
                .logo{
                    display: none;
                }
            }
        }
    }
    @media(max-width: 630px){
        .container{
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
