@import '../../../layout/GlobalVariablesStyles/styles.scss';
.slide{
    width: 100%;
    max-width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .card{
        width: 100%;
        border-radius: 1rem;
        background-color: rgba(249, 249, 249, 0.14);;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3rem;
        .image{
            border: 0.3rem solid $green;
            border-radius: 50%;
            width: 17.5rem;
            height: 17.5rem;
            overflow: hidden;
            img{
                width: 17.5rem;
                height: 17.5rem;
            }
        }
        h4{
            margin-top: 4rem;
            font-family: 'Maven Pro', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 2.5rem;
            line-height: 3rem;
            color: #FFFFFF;
        }
        span{
            font-family: 'Maven Pro', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.8rem;
            color: #FFFFFF;
            margin-bottom: 2.7rem;
        }
        .info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
                &:nth-child(2){
                    margin: 0rem 1.2rem;
                }
            }
        }
    }
    .buttons{
        width: 100%;
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media(max-width: 400px) {
        max-width: 100%;
        .card{
            width: 100%;
            padding: 1rem;
        }
    }
}
