*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
    color: #ccc;
}
html{
    font-size: 62.5%;
}
section{
    width: 100%;
}
