.message{
    width: 60%;
    position: absolute;
    left: 50%;
    top: 15rem;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    padding: 1rem;
    border: 0.1rem solid #000;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    z-index: 2045;
    span{
        color: #000;
    }
}

.message.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.message.error {
    background-color: #f8d7da;
    border-color: #c3c6cb;
}
